<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <display-name>DRL Authentication Inquiry Service</display-name>
    <description>The service responsible authenticating external users</description>

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>-->
            <!--/WEB-INF/classes/applicationContext.xml-->
        <!--</param-value>-->
    <!--</context-param>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AuthenticationService</servlet-name>
        <servlet-class>
            drl.auth.endpoint.AuthenticationServiceEndpoint
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticationService</servlet-name>
        <url-pattern>/AuthenticationService</url-pattern>
    </servlet-mapping>
</web-app>